---
import RealmTechAuthLayout from "../layout/RealmTechAuthLayout.astro";
---
<RealmTechAuthLayout>
    <div class="hero min-h-screen bg-rt">
        <div class="hero-content text-center">
            <div>
                <div class="text-base-100 text-6xl text-center py-10">Telecharger RealmTech depuis de site internet !</div>
                <div class="flex justify-center gap-10">
                    <form method="get" action="releases/RealmTech-0.1.0.exe">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.0.exe
                        </button>
                    </form>
                    <form method="get" action="releases/RealmTech-0.1.0.jar">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.0.jar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p>La dernière version est la 0.1.0</p>
    <a class="link" >RealmTech-0.1.0.exe</a>
    <a class="link" href="./releases/RealmTech-0.1.0.jar">RealmTech-0.1.0.exe</a>
</RealmTechAuthLayout>