---
import RealmTechAuthLayout from "../layout/RealmTechAuthLayout.astro";
---
<RealmTechAuthLayout>
    <div class="hero min-h-screen bg-rt">
        <div class="hero-content text-center">
            <div>
                <div class="text-base-100 text-6xl text-center py-10">Telecharger RealmTech depuis le site internet !</div>
                <div class="flex justify-center gap-10">
                    <form method="get" action="releases/RealmTech-0.1.1.exe">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.1.exe
                        </button>
                    </form>
                    <form method="get" action="releases/RealmTech-0.1.1.jar">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.1.jar
                        </button>
                    </form>
                </div>
                <div class="mt-12">
                    <p class="text-base-100 text-4xl">installer le launcher avec une commande</p>
                    <input 
                        type="text"
                        class="input w-full"
                        value="Set-ExecutionPolicy Bypass -Scope Process -Force;iex ((New-Object System.Net.WebClient).DownloadString('https://github.com/FabienChatton/RealmTech-launcher/releases/download/installateur/realmtech-install.ps1'))"
                        readonly
                        >
                </div>
            </div>
        </div>
    </div>
</RealmTechAuthLayout>