---
import RealmTechAuthLayout from "../layout/RealmTechAuthLayout.astro";
---
<RealmTechAuthLayout>
    <div class="hero min-h-screen bg-rt">
        <div class="hero-content text-center">
            <div>
                <div class="text-base-100 text-6xl text-center py-10">Telecharger RealmTech depuis le site internet !</div>
                <div class="flex justify-center gap-10">
                    <form method="get" action="releases/RealmTech-0.1.1.exe">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.1.exe
                        </button>
                    </form>
                    <form method="get" action="releases/RealmTech-0.1.1.jar">
                        <button type="submit" class="btn btn-success">
                            RealmTech-0.1.1.jar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</RealmTechAuthLayout>